html, body {
    background-color: #FCFCFC;
    color: #d1d1d1;
    align-content: center;
    height: 100%;
    margin: 0;
    text-align: center;
    font-family: 'Montserrat';

}

main {
    display: inline-block;
    vertical-align: middle;
    height: 100vh;
    line-height: 100vh;
}

.jogo {
    background-color: #284B63;
    display: inline-block;
    width: 70%;
    max-height: fit-content;
    padding: 20px;
    align-items: center;
    margin: 20px;
    border-radius: 5px;
    box-shadow: rgba(0, 0, 0, 0.5) 5px 5px 20px;
    overflow: hidden;
}

ul{
    list-style-type: none;
    padding: 0;
    margin: 0;
    display: flex;
}

li{
    display: inline-block;
    margin-right: 10px; 
    line-height: normal;

}

.descricao{
    max-width: 100%;
    float: right;
    margin-left: 10%;
    text-align: left;
}

.titulo{
    min-width: max-content;
    margin: 10px;
}

.imagem img{
    max-width: 170px;
    height: auto;
    border-radius: 5px;
    box-shadow: rgba(0, 0, 0, 0.5) 5px 5px 20px;
    margin-right: 60px;
    margin: 20px;
}

header h1 {
    color: #284B63;
}

.icone img {
    margin-top: 17px;
    width: 85%;
    height: auto;
    margin-left: 5px;
    margin-right: 0;
    transition: 1s ease;
}

.icone img:hover {
    cursor: pointer;
    width: 105%;
}

nav input { 
    width: 600px;
    height: 25px;
    padding: 10px;
    border-radius: 10px;
    color: #d1d1d1;
    font-size: 0.9rem;
    font-family: 'Montserrat';
    outline: none;
    border: none;
}

input::placeholder {
    font-family: 'Montserrat';
    color: #d1d1d1;
    font-size: 0.9rem;
    border: none;
}

input :hover{
    border: solid #182c3a96 3px;
}

nav {
    justify-content: center;
    display: flex;
}

.searchbar{
    max-width: fit-content;
    background-color: #284b63c7;

}

.searchbar img{
    
}